<nav class="navbar bg-base-200">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">Ashmit George Climate Report</a>
  </div>
  <div class="flex-none gap-2">
    <a class="btn btn-ghost" href="/about">About</a>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn">Sectors</div>
      <ul tabindex="0" class="menu dropdown-content bg-base-200 rounded-box z-[1] w-52 p-2 shadow">
        <li><a href="/solutions/projects?sector=Transportation">Transportation</a></li>
        <li><a href="/solutions/projects?sector=Energy">Energy</a></li>
        <li><a href="/solutions/projects?sector=Buildings">Buildings</a></li>
        <li><a href="/solutions/projects?sector=Food">Food</a></li>
        <li><a href="/solutions/projects?sector=Land Use">Land Use</a></li>
      </ul>
    </div>
  </div>
</nav>
